<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/hearts.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.2/react.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.2/JSXTransformer.js"></script>

    <meta charset="UTF-8">
    <title>Game</title>

    <script type="text/javascript">
        function redirect(loc) {
            window.location= loc ;
        }
    </script>


</head>
<body class="game">
    <div>

    </div>
</body>
</html>