<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/hearts.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <meta charset="UTF-8">
    <title>HeartsBot</title>
</head>
<body class="home">
    <div>
    <h1 style="color:red;display: inline-block">Hearts</h1><h1 style="display:inline-block ">Bot</h1>
    </div>
    <div class="menu">
    <button class="menu_button">New Game</button>
    <button class="menu_button">Add User</button>
    <button class="menu_button">Review previous games</button>
    </div>
</body>
</html>